.container {
	background-color: #f3f6fa;
	height: 100vh;
}

.support {
	text-decoration: none;
	color: #2e3239;
}
.support:hover {
	color: #5a5f69;
}
.headerRow {
	font-size: 14px;
	margin: 115px 25px -160px -28px;
}
.boxes {
	height: 470px;
}
.leftBox {
	background-color: #2f3544;
	border-radius: 4px 0 0 4px;
	border: solid 1px #2f3544;
}
.rightBox {
	background-color: #ffffff;
	border-radius: 0 4px 4px 0;
	border: solid 1px #ebedf1;
}
.label {
	margin-left: 8px;
	margin-right: 18px;
}
@media only screen and (max-width: 379px) and (min-width: 280px) {
	.headerRow {
		padding-right: 50px;
	}
}
@media only screen and (max-width: 449px) and (min-width: 380px) {
	.headerRow {
		padding-right: 40px;
	}
}
@media only screen and (max-width: 530px) and (min-width: 450px) {
	.headerRow {
		padding-right: 28px;
	}
}
@media only screen and (max-width: 575px) and (min-width: 535px) {
	.headerRow {
		padding-right: 15px;
	}
}
@media only screen and (max-width: 580px) {
	.headerRow {
		margin: 5px 60px 5px -4px;
	}
	.leftBox {
		border-radius: 4px 4px 0 0;
	}
	.rightBox {
		border-radius: 0 0 4px 4px;
	}
}
@media only screen and (max-width: 1700px) and (min-width: 1200px) {
	.headerRow {
		margin-right: 60px;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 1000px) {
	.headerRow {
		margin-right: 40px;
	}
}
@media only screen and (max-width: 930px) and (min-width: 770px) {
	.headerRow {
		margin-right: 35px;
	}
}
@media screen and (max-height: 800px) {
	.headerRow {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
