/* .leftBox {
	background-color: #2f3544;
	height: 448px;
	border-radius: 4px 0 0 4px;
	border: solid 1px #2f3544;
} */
.amount {
	height: 72px;
	color: white;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 4px;
	background-color: #3b414e;
	border: solid 1px #3b414e;
	margin: 20px 2px 25px 2px;
	padding: 25px 12px;
}

.type {
	margin: 0px !important;
	color: white;
}
.number {
	font-size: 22px;
	padding-right: 8px;
	font-family: googleSans;
}
.numberSign {
	margin-top: 6px;
	margin-right: 5px;
	font-size: 14px;
}
.numberContainer {
	display: flex;
}
