html,
body {
	padding: 0;
	margin: 0;
	font-family: Circular, googleSans;
}
@font-face {
	font-family: Circular;
	src: url('../font/CircularStd-Book.otf');
}
@font-face {
	font-family: googleSans;
	src: url('../font/GoogleSans-Medium.ttf');
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
