.label,
.input {
	margin-left: 14px;
}
.label {
	color: #858fa7;
	display: flex;
	font-size: 12px;
}

.input {
	font-size: 12px;
	color: #ffffff;
	background-color: #2f3544;
	font-family: googleSans;
}
.line {
	height: 1px;
	background-color: rgba(255, 255, 255, 0.05);
	margin: 0px 14px 12px 14px;
}
.icon {
	margin-right: 4px;
	font-size: 14px;
}
.copy {
	padding-top: 6px;
	font-size: 150%;
	padding-left: 5px;
	color: #858fa7;
}
