.container {
	background-color: #f3f6fa;
	height: 100vh;
}
.header {
	font-size: 14px;
	display: flex;
	margin-bottom: 81px;
}
.support {
	text-decoration: none;
	margin: 7px 417px 5px 0;
	color: #2e3239;
}
