.container {
	font-family: Circular;
	margin: 20px 42px 0px 42px;
	cursor: pointer;
}
.linkContainer {
	position: relative;
	display: flex;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	align-items: center;
	padding: 8px 12px 7px;
}
.linkContainer:hover {
	transition: border 500ms;
	border: 1px solid #707070;
	color: #707070;
}

.value {
	text-decoration: none;
	font-size: 14px;
	padding-left: 14px;
	color: #2e3239;
}
.forward {
	position: absolute;
	top: 12px;
	right: 12px;
	color: #dddddd;
	font-size: 12px;
}
.linkContainer:hover .forward {
	transition: color 500ms;
	color: #707070;
}
