.container {
	margin: 20px 42px 0px 42px;
}
.linkContainer {
	position: relative;
	display: flex;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	align-items: center;
	padding: 8px 12px 7px;
}
.linkContainer:hover {
	border: 1px solid #383838;
	color: #383838;
}

.value {
	text-decoration: none;
	font-size: 14px;
	padding-left: 14px;
	color: #2e3239;
}
.forward {
	position: absolute;
	top: 8px;
	right: 12px;
	color: #dddddd;
	font-size: 12px;
}
