.rightBox {
	background-color: #ffffff;
	/* width: 336px; */
	height: 448px;
	border-radius: 0 4px 4px 0;
	border: solid 1px #ebedf1;
}

.head {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 31px 41px 0px 30px;
}
/* .count {
	margin: -2px 4px 0px 115px;
} */
.counter {
	/* width: auto; */
	margin-top: 2px;
	font-family: googleSans;
	color: #2e3239;
	font-size: 12px;
}
.choose {
	font-family: Circular;
	color: #2e3239;
	font-size: 16px;
	font-weight: bold;
	margin: 31px 60px 5px 42px;
}
.footer {
	display: flex;

	color: #a8a8a8;
	font-size: 12px;
	margin: 70px 0 0 41px;
}
.back {
	text-decoration: none;
	font-family: googleSans;
	margin-top: -3px;
}
